@import url(picon/LCTPicon.css);

$orange: #E8441F;

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Picon', sans-serif;
    font-size: 1.25em;
}

h1 {
    font-weight: 700;
    font-size: 1.9em;
    margin: 40px;

    &.light {
        font-weight: 200;
    }

    &.color {
        color: $orange;
    }
}

hr {
    background: none;
    border: none;
    margin: 40px 0;
}

.transition {
    transition: all 0.3s;
}

div#strip {
    background: white;
    max-width: 1040px;
    min-height: 100%;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 2px 0 gray;
}

div#header {
    height: 585px;
    background-image: url('imgs/background.png');
    background-repeat: repeat;
    background-size: 1040px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1040px;
    top: 0;
    overflow: hidden;
    box-shadow: 0 0 3px 0 gray;
    clip-path: inset(0px 0px -5px 0);

    div#languages {
        position: absolute;
        top: 0;
        left: 10px;
        height: 40px;
        color: white;
        font-size: 0.8em;
        cursor: default;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        p {
          height: 1.6em;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: 400;
            cursor: pointer;
        }
    }

    div#menu {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 28px;
        font-size: 0.7em;

        a {
            display: block;
            font-weight: 700;
            padding: 14px 15px;
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: background-color 0.15s;

            &:hover {
                background-color: #FFFFFF44;
            }
        }
    }

    img {
        width: 325px;
        display: block;
    }

    #logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
            display: block;
            height: 5.55em;
            width: 5.5em;
            padding-bottom: 1.88em;
        }
    }

    h1 {
        font-weight: 700;
        font-size: 2.98em;
        margin: -20px 0 0;
        text-align: left;

        span {
            font-weight: 300;
        }

        a {
            color: white;
            text-decoration: none;
        }
    }

    h2 {
        font-weight: 300;
        color: white;
        font-size: 1.38em;
        margin-top: -0.45em;
        text-align: left;
        padding-left: 2px;
    }

    &.small {
        div#logo {
            margin: 50px 430px 0 0;

            img {
                height: 1.7em;
                width: 2em;
                margin-top: -12px;
            }

            h1 {
                font-size: 1.8em;
            }

            h2 {
                opacity: 0;
                pointer-events: none;
            }
        }

    }
}

span#header-shadow {
    display: block;
    height: 579px;
}

ul#services {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px;
    margin: auto;

    li {
        width: 150px;
        margin: 20px 0;
        font-size: 0.75em;

        img {
            width: 60px;
            height: 55px;
            margin-bottom: 40px;
        }
    }
}

ul.offers {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    max-width: 800px;

    li {
        max-width: 310px;
        margin: 28px 20px;

        h3 {
            font-size: 1.07em;
            margin-bottom: 30px;
        }

        p {
            font-size: 1.05em;
            font-weight: 300;
        }
    }
}

div#faith {
    background-color: #f2e2ed;
    padding-bottom: 40px;

    h2 {
        font-weight: 300;
        font-size: 1.35em;
        padding: 50px;
    }

    div.text {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;

        &.reverse {
            flex-direction: row-reverse;
        }

        p {
            width: 450px;
            margin: 40px 10px;
            text-align: left;
            font-weight: 300;
            font-size: 0.88em;
            max-width: 330px;

            &.quote {
                font-weight: 400;
                color: $orange;
                font-size: 1.9em;

                &::before {
                    content: "";
                    display: block;
                    width: 160px;
                    height: 0;
                    border-top: solid black 2px;
                    margin-bottom: 28px;
                    margin-left: 5px;
                }
            }

            &.text {
                line-height: 1.25em;
            }
        }
    }
}

div.kotlin {
    background-color: $orange;
    color: white;
    padding: 50px;

    &.big {
        background-image: url("imgs/kotlin-transparent.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1100px 1100px;
    }

    h2 {
        font-size: 1.95em;
        font-weight: 700;
    }

    p {
        font-weight: 300;
        font-size: 1.35em;
        max-width: 750px;
        margin: 30px auto;
    }

    margin-bottom: 20px;

    &.small {
        padding: 20px;

        p {
            font-size: 1.2em;
            margin: 10px auto;
        }
    }
}

p.kodein-framework {
    text-align: left;
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
    font-weight: 300;
    font-size: 1.08em;
}

div#footer {
    background: #921f81;
    background: linear-gradient(135deg, #e8441f 0%,#921f81 100%);
    color: white;
    padding: 10px 0 90px 0;

    a {
        color: white;
    }

    ul.offers {
        li {
            margin: 30px 70px;

            h3 {
                font-size: 1.2em;
            }

            p {
                font-size: 1.2em;
            }
        }

        &.small {
            li {
                margin: 10px 35px;

                h3 {
                    font-size: 0.9em;
                }

                p {
                    font-size: 0.9em;
                }
            }
        }
    }
}

@media (max-width: 850px) {
    body {
        font-size: 1.1em;
    }

    div#menu {
        display: none !important;
    }

    div#header.small div#logo {
        margin: 46px 0 0 0;
    }
    //div#header.small h1 {
    //    margin: 18px 0 0 0;
    //}

}

@media (max-width: 450px) {
    div#strip {
        display: none !important;
    }
    body {
        background-color: $orange;
    }
    body::after {
        display: block;
        padding-top: 30%;
        content: "Viewport to small!!";
        color: white;
        font-size: 3em;
        text-align: center;
    }
}