
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25em;
}

h1 {
    font-weight: 300;
    font-size: 2.5em;
    margin: 40px;
}

hr {
    background: none;
    border: none;
    margin: 40px 0;
}

.transition {
    transition: all 0.3s;
}

div#strip {
    background: white;
    max-width: 1366px;
    min-height: 100%;
    margin: auto;
    text-align: center;
}

div#header {
    background-color: #6534ff;
    height: 579px;
    background-image: url('imgs/background.png');
    background-repeat: repeat;
    background-position: center -220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    max-width: 1366px;
    top: 0;
    overflow: hidden;

    div#languages {
        position: absolute;
        top: 0;
        left: 10px;
        height: 40px;
        color: white;
        font-size: 0.8em;
        cursor: default;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        p {
          height: 1.6em;
        }

        a {
            color: white;
            text-decoration: none;
            font-weight: 400;
            cursor: pointer;
        }
    }

    div#menu {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 28px;
        font-size: 0.7em;

        a {
            display: block;
            font-weight: 700;
            padding: 11px 15px;
            text-decoration: none;
            color: white;
            cursor: pointer;
            transition: background-color 0.15s;

            &:hover {
                background-color: #3504cf8F;
            }
        }
    }

    img {
        width: 325px;
        display: block;
    }

    h1 {
        background: url('imgs/logo.png');
        background-size: 325px auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 325px;
        font-weight: 700;
        //font-size: 4.2em;
        font-size: 84px;
        margin: 0;
        margin-top: -20px;

        a {
            color: transparent;
            text-decoration: none;
        }
    }

    h2 {
        font-weight: 300;
        color: white;
        font-size: 37px;
        margin-top: -28px;
        padding-left: 5px;
    }

    &.small {
        h1 {
            width: 170px;
            font-size: 2.1em;
            background-size: 170px auto;
            margin: 18px 480px 0 0;
        }

        h2 {
            opacity: 0;
            pointer-events: none;
        }
    }
}

span#header-shadow {
    display: block;
    height: 579px;
}

ul#services {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 920px;
    margin: auto;

    li {
        width: 210px;
        margin: 20px 0;

        img {
            width: 74px;
            height: 70px;
            margin-bottom: 40px;
        }
    }
}

ul.offers {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        max-width: 450px;
        margin: 30px 20px;

        h3 {
            font-size: 1.4em;
            margin-bottom: 30px;
        }

        p {
            font-size: 1.4em;
            font-weight: 300;
        }
    }
}

div#faith {
    background-color: #faf9ff;
    padding-bottom: 40px;

    h2 {
        font-weight: 300;
        font-size: 1.75em;
        padding: 80px;
    }

    div.text {
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: center;

        &.reverse {
            flex-direction: row-reverse;
        }

        p {
            width: 450px;
            margin: 40px 20px;
            text-align: left;
            font-weight: 300;
            font-size: 1.15em;

            &.quote {
                font-weight: 400;
                font-style: italic;
                color: #6534ff;
                font-size: 2.5em;
            }
        }
    }
}

div.kotlin {
    background-color: #6534ff;
    color: white;
    padding: 50px;

    &.big {
        background-image: url("imgs/kotlin-transparent.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 1100px 1100px;
    }

    h2 {
        font-size: 2.5em;
        font-weight: 300;
    }

    p {
        font-weight: 300;
        font-size: 1.75em;
        max-width: 900px;
        margin: 30px auto;
    }

    margin-bottom: 20px;

    &.small {
        padding: 20px;

        p {
            font-size: 1.5em;
            margin: 10px auto;
        }
    }
}

p.kodein-framework {
    text-align: left;
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
    font-weight: 300;
    font-size: 1.4em;
}

div#footer {
    background-color: #6534ff;
    color: white;
    padding: 40px 0 90px 0;

    a {
        color: white;
    }

    ul.offers {
        li {
            margin: 30px 70px;

            h3 {
                font-size: 1.2em;
            }

            p {
                font-size: 1.2em;
            }
        }
    }
}

@media (max-width: 820px) {
    body {
        font-size: 1.1em;
    }

    div#menu {
        display: none !important;
    }

    div#header.small h1 {
        margin: 18px 0 0 0;
    }

    div.kotlin.big {
        background-size: 800px 800px;
    }

}

@media (max-width: 355px) {
    div#strip {
        display: none !important;
    }
    body {
        background-color: red;
    }
    body::after {
        display: block;
        padding-top: 30%;
        content: "Viewport to small!!";
        color: white;
        font-size: 3em;
        text-align: center;
    }
}