@import url(picon/LCTPicon.css);
* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: "Picon", sans-serif;
  font-size: 1.25em;
}

h1 {
  font-weight: 700;
  font-size: 1.9em;
  margin: 40px;
}
h1.light {
  font-weight: 200;
}
h1.color {
  color: #E8441F;
}

hr {
  background: none;
  border: none;
  margin: 40px 0;
}

.transition {
  transition: all 0.3s;
}

div#strip {
  background: white;
  max-width: 1040px;
  min-height: 100%;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 2px 0 gray;
}

div#header {
  height: 585px;
  background-image: url("imgs/background.png");
  background-repeat: repeat;
  background-size: 1040px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  max-width: 1040px;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0 3px 0 gray;
  clip-path: inset(0px 0px -5px 0);
}
div#header div#languages {
  position: absolute;
  top: 0;
  left: 10px;
  height: 40px;
  color: white;
  font-size: 0.8em;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
div#header div#languages p {
  height: 1.6em;
}
div#header div#languages a {
  color: white;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
}
div#header div#menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 28px;
  font-size: 0.7em;
}
div#header div#menu a {
  display: block;
  font-weight: 700;
  padding: 14px 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;
}
div#header div#menu a:hover {
  background-color: #E8441F;
}
div#header img {
  width: 325px;
  display: block;
}
div#header #logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
div#header #logo img {
  display: block;
  height: 5.55em;
  width: 5.5em;
  padding-bottom: 1.88em;
}
div#header h1 {
  font-weight: 700;
  font-size: 2.98em;
  margin: -20px 0 0;
  text-align: left;
}
div#header h1 span {
  font-weight: 300;
}
div#header h1 a {
  color: white;
  text-decoration: none;
}
div#header h2 {
  font-weight: 300;
  color: white;
  font-size: 1.38em;
  margin-top: -0.45em;
  text-align: left;
  padding-left: 2px;
}
div#header.small div#logo {
  margin: 50px 430px 0 0;
}
div#header.small div#logo img {
  height: 1.7em;
  width: 2em;
  margin-top: -12px;
}
div#header.small div#logo h1 {
  font-size: 1.8em;
}
div#header.small div#logo h2 {
  opacity: 0;
  pointer-events: none;
}

span#header-shadow {
  display: block;
  height: 579px;
}

ul#services {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 700px;
  margin: auto;
}
ul#services li {
  width: 150px;
  margin: 20px 0;
  font-size: 0.75em;
}
ul#services li img {
  width: 60px;
  height: 55px;
  margin-bottom: 40px;
}

ul.offers {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 800px;
}
ul.offers li {
  max-width: 310px;
  margin: 28px 20px;
}
ul.offers li h3 {
  font-size: 1.07em;
  margin-bottom: 30px;
}
ul.offers li p {
  font-size: 1.05em;
  font-weight: 300;
}

div#faith {
  background-color: #f2e2ed;
  padding-bottom: 40px;
}
div#faith h2 {
  font-weight: 300;
  font-size: 1.35em;
  padding: 50px;
}
div#faith div.text {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}
div#faith div.text.reverse {
  flex-direction: row-reverse;
}
div#faith div.text p {
  width: 450px;
  margin: 40px 10px;
  text-align: left;
  font-weight: 300;
  font-size: 0.88em;
  max-width: 330px;
}
div#faith div.text p.quote {
  font-weight: 400;
  color: #E8441F;
  font-size: 1.9em;
}
div#faith div.text p.quote::before {
  content: "";
  display: block;
  width: 160px;
  height: 0;
  border-top: solid black 2px;
  margin-bottom: 28px;
  margin-left: 5px;
}
div#faith div.text p.text {
  line-height: 1.25em;
}

div.kotlin {
  background-color: #E8441F;
  color: white;
  padding: 50px;
  margin-bottom: 20px;
}
div.kotlin.big {
  background-image: url("imgs/kotlin-transparent.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1100px 1100px;
}
div.kotlin h2 {
  font-size: 1.95em;
  font-weight: 700;
}
div.kotlin p {
  font-weight: 300;
  font-size: 1.35em;
  max-width: 750px;
  margin: 30px auto;
}
div.kotlin.small {
  padding: 20px;
}
div.kotlin.small p {
  font-size: 1.2em;
  margin: 10px auto;
}

p.kodein-framework {
  text-align: left;
  max-width: 800px;
  margin: 30px auto;
  padding: 0 20px;
  font-weight: 300;
  font-size: 1.08em;
}

div#footer {
  background: #921f81;
  background: linear-gradient(135deg, #e8441f 0%, #921f81 100%);
  color: white;
  padding: 10px 0 90px 0;
}
div#footer a {
  color: white;
}
div#footer ul.offers li {
  margin: 30px 70px;
}
div#footer ul.offers li h3 {
  font-size: 1.2em;
}
div#footer ul.offers li p {
  font-size: 1.2em;
}
div#footer ul.offers.small li {
  margin: 10px 35px;
}
div#footer ul.offers.small li h3 {
  font-size: 0.9em;
}
div#footer ul.offers.small li p {
  font-size: 0.9em;
}

@media (max-width: 850px) {
  body {
    font-size: 1.1em;
  }

  div#menu {
    display: none !important;
  }

  div#header.small div#logo {
    margin: 46px 0 0 0;
  }
}
@media (max-width: 450px) {
  div#strip {
    display: none !important;
  }

  body {
    background-color: #E8441F;
  }

  body::after {
    display: block;
    padding-top: 30%;
    content: "Viewport to small!!";
    color: white;
    font-size: 3em;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
